CharactorSelectorApi/.idea/
CharactorSelectorApi/CharactorSelectorApi/obj/
CharactorSelectorApi/CharactorSelectorApi/bin/
.DS_Store
character-selector-web/.idea/**
character-selector-web/.idea/
character-selector-web/node_modules/**
CharactorSelectorApi/CharactorSelectorApi/C:/**
character-selector-web/dist/**
CharactorSelectorApi/CharacterSelectorApi.Tests/obj/
CharactorSelectorApi/CharacterSelectorApi.Tests/bin/
