<div *ngIf="character">
    <div>Name: {{character.name}}</div>
    <div>Description: {{character.description}}</div>
    <div>ID: {{character.id}}</div>
    <div>
        <h4>Character Name</h4>
        <label>
            <input #characterName
                   placeholder="Please put the customise character name."
                   [(ngModel)]="customiseName">
        </label>
    </div>
    <button (click)="reset()">Reset</button>
    <button (click)="back()">Back</button>
    <button (click)="save()">Save</button>

    <div class="option-container">
        <h4>Options</h4>
        <ol>
            <li *ngFor="let option of options">
                <div (click)="selectOption(option)"
                     [ngClass]="{'is-selected':customiseCharacter.selectedOptions.indexOf(option.id) !== -1}">
                    {{option.name}}
                </div>
            </li>
        </ol>
    </div>

    <div class="sub-option-container">
        <h4>Sub-Options</h4>
        <ol *ngIf="suboptions else emptySuboption">
            <li *ngFor="let option of suboptions">
                <div (click)="selectSuboption(option)"
                     [ngClass]="{'is-selected':customiseCharacter.selectedOptions.indexOf(option.id) !== -1}">
                    {{option.name}}
                </div>
            </li>
        </ol>
        <ng-template #emptySuboption>
            <ol>
                <li>Please select one of the option(s).</li>
            </ol>
        </ng-template>
    </div>


</div>

